apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: development
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      component: worker
  template:
    metadata:
      labels:
          component: worker
    spec:
      containers:
        - name: worker
          image: stephengrider/multi-worker
          env:
            - name: REDIS_HOST
              value: redis-cluster-ip-services
            - name: REDIS_PORT
              value: '6379'
#no need for service and port as this will only do calculation only 
#- = array